<div *ngIf="!country; else divCountry" class="alert alert-info">
  Espere por favor...
</div>

<ng-template #divCountry>
  <div class="row">
    <div class="col-12">
      <h1>
        País: <span>{{ country.name }}</span>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="country.flag" class="img-fluid" [alt]="country.name" />
    </div>

    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población:</strong> {{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Código numérico:</strong> {{ country.numericCode }}
        </li>
        <li class="list-group-item">
          <strong>Código alpha3:</strong> {{ country.alpha3Code }}
        </li>
      </ul>
    </div>
  </div>

  <h3>Traducciones</h3>
  <div class="row">
    <div class="col d-flex gap-2 flex-wrap">
      <span class="badge bg-primary">{{ country.translations.de }}</span>
      <span class="badge bg-primary">{{ country.translations.es }}</span>
      <span class="badge bg-primary">{{ country.translations.fr }}</span>
      <span class="badge bg-primary">{{ country.translations.ja }}</span>
      <span class="badge bg-primary">{{ country.translations.it }}</span>
      <span class="badge bg-primary">{{ country.translations.br }}</span>
      <span class="badge bg-primary">{{ country.translations.pt }}</span>
      <span class="badge bg-primary">{{ country.translations.nl }}</span>
      <span class="badge bg-primary">{{ country.translations.hr }}</span>
      <span class="badge bg-primary">{{ country.translations.fa }}</span>
    </div>
  </div>

  <pre class="mt-5">
    {{ country | json }}
  </pre>
</ng-template>
